= hidden_field_tag :procedure_step, @procedure_step
= hidden_field_tag :_id_instancia_, @id_instancia
= hidden_field_tag :_id_etapa_, @id_etapa
= hidden_field_tag :_secuencia_, @secuencia
= hidden_field_tag :_certificate_, @certificate_base64
= hidden_field_tag :_error_codigo, @error_codigo
= hidden_field_tag :_error_descripcion, @error_descripcion